<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" type="text/css">



</head>
<body id="blog" >

    <section class="blogpost" >
        <section class="blogpost-content" style="background-color: #808080;width:80%">

            <div class="container-fluid">
                <div class="col-md-12" style="background-color: #b5b5b5;display: inline-block;width: 100%;height: 150px;">
                    <img style="width: 300px;align-content:center;display:inline-block;/* margin: -20px; */padding: 4%;float:left;" src="~/img/logoempresa.png" />
                    <div style="display: inline-block;margin-left:2%;float:left;padding: 4%;">
                        <h1 style="padding:1%;width:300px">Seja bem vindo</h1>
                        <h2 style="margin-bottom:auto">Segunda-Feira, 02 de Outubro de 2017</h2>
                    </div>
                </div>
                <br />

                <div class="col-md-12" style="background-color: #b5b5b5;display: inline-block;width: 100%;">
                    <img style="width: 400px;align-content:center;display:inline-block;/* margin: -20px; */padding: 2%;float:left;" src="~/img/perfil.png" />
                    <div style="display: inline-block;margin-left:2%;float:left;padding: 2%;width:40%">
                        <h2 style="margin-bottom:auto">Nome</h2>
                        <h1 style="padding:1%;width:300px">Júlia da Silva Santos</h1>
                    </div>
                    <div style="display: inline-block;margin-left:2%;float:left;padding: 2%;width:10%">
                        <h3 style="margin-bottom:auto">Código</h3>
                        <h2 style="padding:1%;width:300px">001</h2>
                    </div>
                    <div style="display: inline-block;margin-left:2%;float:left;padding: 2%;width:20%">
                        <h3 style="margin-bottom:auto">Próximo vencimento</h3>
                        <h2 style="padding:1%;width:300px">10/11/2018</h2>
                    </div>

                    <div style="display: inline-block;margin-left:2%;float:left;padding: 2%;width:10%">
                        <h3 style="margin-bottom:auto">Categoria</h3>
                        <h2 style="padding:1%;width:300px">Familiar</h2>
                    </div>
                    <div style="display: inline-block;margin-left:2%;float:left;padding: 2%;width:20%">
                        <h3 style="margin-bottom:auto">Acesso a academia</h3>
                        <h2 style="padding:1%;width:300px">Sim</h2>
                    </div>
                </div>


            </div>





        </section>
        <section class="blogpost-details" style="width:20%">
            <div align="center" class="mlightbox-description" style="padding:5%">
                <h3 class='mlightbox-title'>Dependentes e agregados</h3>
            </div>
            <ul class="mlist">
                <table style="width:100%;margin-top:1%;padding: 3%;" class="table table-bordered table-striped">
                    <thead>
                        <tr style="background-color: #b5b5b5;">
                            <th style="padding:1%">Nome</th>
                            <th style="padding:1%">Tipo</thstyle="padding:1%">
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color:#ffffff">
                            <td style="padding:1%">João da Silva</td>
                            <td style="padding:1%">Dependente</td>
                        </tr>
                        <tr style="background-color: #b5b5b5;">
                            <td style="padding:1%">Felipe Alves</td>
                            <td style="padding:1%">Agregado</td>
                        </tr>
                        <tr style="background-color:#ffffff">
                            <td style="padding:1%">Gabriel da Silva</td>
                            <td style="padding:1%">Dependente</td>
                        </tr>
                        <tr style="background-color: #b5b5b5;">
                            <td style="padding:1%">Vanessa da Silva</td>
                            <td style="padding:1%">Dependente</td>
                        </tr>
                    </tbody>
                </table>
            </ul>


            <div align="center" class="mlightbox-description" style="padding:1%">
                <h3 class='mlightbox-title'>Histórico de acesso</h3>
            </div>
            <ul class="mlist">
                <table style="width:100%;margin-top:1%;padding: 3%;" class="table table-bordered table-striped">
                    <thead>
                        <tr style="background-color: #b5b5b5;">
                            <th style="padding:1%">Data</th>
                            <th style="padding:1%">Hora</thstyle="padding:1%">
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color:#ffffff">
                            <td style="padding:1%">01/07/2017</td>
                            <td style="padding:1%">10:34</td>
                        </tr>
                        <tr style="background-color: #b5b5b5;">
                            <td style="padding:1%">02/07/2017</td>
                            <td style="padding:1%">11:24</td>
                        </tr>
                        <tr style="background-color:#ffffff">
                            <td style="padding:1%">03/07/2017</td>
                            <td style="padding:1%">09:22</td>
                        </tr>
                        <tr style="background-color: #b5b5b5;">
                            <td style="padding:1%">04/07/2017</td>
                            <td style="padding:1%">12:58</td>
                        </tr>
                    </tbody>
                </table>
            </ul>
            <ul class="mlist mlistbottomright">
                <li><a href="../Home" class="close-mlightbox"><img src="../img/backarrow.png" height="32" width="32" class="backarrow" /> <span class="text-medium">Home</span></a></li>
            </ul>
        </section>
    </section>

    <script src="~/js/jquery-2.1.4.js"></script>
    <script src="../js/respond.min.js"></script>
    <script src="../js/jquery.isotope.min.js"></script>
    <script src="../js/jquery.mousewheel.js"></script>
    <script src="../js/jquery.mCustomScrollbar.js"></script>
    <script src="../js/tileshow.js"></script>
    <script src="../js/mlightbox.js"></script>
    <script src="../js/jquery.fitVids.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/singlepost.js"></script>
    <script src="../js/script.js"></script>

</body>
</html>
